.container {
    background: rgb(0, 0, 0) url('../../myImages/BackgroundGamer.webp') ;
    background-repeat: repeat;
    min-height: 680px;
}

.nav-div-videogames {
    border-bottom: 5px solid red;
}

.games-div {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nonono {
    width: 800px;
}

.loading {
    width: 500px;
}

.zero-div-loader {
    display: flexbox;
    align-items: center;
}

.zero-div-loader img{
    align-items: center;
    margin-left: 32%;
    margin-top: 10%;
    border-radius: 20px;
    border: solid red 2px;
    box-shadow: 0px 3px 6px 6px rgba(0, 0, 0, 0.575);
}

